<div id="userAddContainer">
   <h3 style="text-align: center">User Managment</h3>
   <button id="saveUser">Save</button>
   <br /><br />
<form id="addUserForm" autocomplete="true" enctype="multipart/form-data">
   <%== token %>
   <input type="hidden" name="op" value="editUserSave">
   <input type="hidden" name="uid" value="<%= uid %>">   

   <ul> 
      <li><a id="accountTab" href="#accountTarget" data-target="accountTarget" class="adminUsersTabs-click ui-state-hover ui-state-focus ui-state-active default">Account</a></li>
      <li><a id="profileTab" href="#profileTarget" data-target="profileTarget" class="adminUsersTabs-click ui-state-hover ui-state-focus ui-state-active">Profile</a></li>
      <li><a id="groupsTab"  href="#groupsTarget"  data-target="groupsTarget"  class="adminUsersTabs-click ui-state-hover ui-state-focus ui-state-active">Groups</a></li>
   </ul>

   <!-- account div -->
   <div class="userTabContainer ui-corner-all" id="accountTarget">
      <table>
         <tr>
            <td><label>ID</label></td><td><%= uid %></td>
         </tr>
         <tr>
            <td><label><%= username.label %></label></td><td><input type="text" name="username" value="<%= username.value %>" required></td>
         </tr>
         <tr>
            <td><label><%= authMethod.options.password.label %></label></td><td><input type="password" name="<%= authMethod.options.password.name %>" value="<%= authMethod.options.password.value %>"></td>
         </tr>         
         <tr>
            <td><label><%= authMethod.options.changeUsername.label %></label></td><td><%== authMethod.options.changeUsername.rendered %></td>
         </tr>
         <tr>
            <td><label><%= authMethod.options.changePassword.label %></label></td><td><%== authMethod.options.changePassword.rendered %></td>
         </tr>
         <tr>
            <td><label><%= dateCreated.label %></label></td><td><time><%= dateCreated.value %></time></td>
         </tr>
         <tr>
            <td><label><%= lastUpdated.label %></label></td><td><time><%= lastUpdated.value %></time></td>
         </tr>       
         <tr>
            <td><label><%= status.label %></label></td><td><%== status.rendered %></td>
         </tr>
         <tr>
            <td><label><%== authMethods.label %></label></td><td><%== authMethods.rendered %></td>
         </tr>         
      </table>
         
   </div> 

   <!-- profile div -->
   <div class="userTabContainer ui-corner-all" id="profileTarget">
      <table>
      <% $.each( profile, function( index, category ){ %>
         <tr>
            <td colspan="2"><h3><%= category.name %></h3></td>
         </tr>
         <% $.each( category.values, function( index, field ){ %>
         <tr>
            <td><label><%== field.label %></label></td><td><%== field.rendered %></td>
         </tr>
         <% }) %>
      <% }) %>
      </table>
   </div> 

   <!-- groups div -->
   <div class="userTabContainer ui-corner-all" id="groupsTarget">
      
      <h3>Groups assigned to user</h3>
      <table id="userDeleteTable" class="webguiAdminTable">
         <thead>
            <tr>
               <th>Group id</th>
               <th>Group Name</th>
               <th>Description</th>
               <th>Delete selected</th>
            </tr>
         </thead>
         <tbody>
         </tbody>         
      </table>       
      <br />
      <h3>Groups available to user</h3>      
      <table id="userAddTable" class="webguiAdminTable">
         <thead>
            <tr>
               <th>Group id</th>
               <th>Group Name</th>
               <th>Description</th>
               <th>Add selected</th>
            </tr>
         </thead>
         <tbody>
         </tbody>            
      </table>
      
   </div>    

</form> 
</div>