<form id="emailGroup">
   <input type="hidden" name="gid" value="<%= gid %>" />
   <%== token %>
   <table>     
      <tr>
         <td colspan="2"><%= name %></td>
      </tr>  
      <tr>
         <td><label title="<%= from.description %>"><%= from.label %></label></td>
         <td><input type="text" id="from" name="from" value="<%= from.value %>"></td>
      </tr>  

      <tr>
         <td><label title="<%= override.description %>"><%= override.label %></label></td>
         <td><select id="override" name="override">
               <% $.each( override.value.options, function(key, value){ %>
                  <option value="<%= key %>"><%= value %></option> 
               <% }) %>        
            </select>
         </td>
      </tr>  
      <tr>
         <td><label title="<%= subject.description %>"><%= subject.label %></label></td>
         <td><input type="text" id="subject" name="subject" value="<%= subject.value %>"></td>
      </tr>
      <tr>
         <td><label title="<%= message.description %>"><%= message.label %></label></td>
         <td><textarea id="message" name="message"><%= message.value %></textarea></td>
      </tr>       
   </table>
</form>
<input id="emailGroupSubmit" type="button" value="Submit" />
