<form name="groupEditForm">
  <input type="hidden" name="op" value="<%= op %>" />
   <table>
        <tr>
           <td>Group ID</td><td><input type="hidden" name="gid" value="<%= id %>" /><%= id %></td>
        </tr>
        <tr>
           <td><%= groupName.label %></td><td><input type="text" name="groupName" value="<%= groupName.value %>" /></td>
        </tr>
        <tr>
           <td><%= description.label %></td><td><textarea name="description"><%= description.value %></textarea></td>
        </tr> 
        <tr>
           <td><%= isEditable.label %></td><td>Yes<input type="radio" name="isEditable" value="1" <% if ( isEditable.value == 1 ){ %>checked<% } %>>
                                                No<input type="radio" name="isEditable" value="0" <% if ( isEditable.value == 0 ){ %>checked<% } %>></td>
        </tr> 
        <tr>
           <td><%= showInForms.label %></td><td>Yes<input type="radio" name="showInForms" value="1" <% if ( showInForms.value == 1 ){ %>checked<% } %>>
                                                No<input type="radio" name="showInForms" value="0" <% if ( showInForms.value == 0 ){ %>checked<% } %>></td>
        </tr>
        <tr>
           <td><%= expireOffset.label %></td><td><input type="text" name="expireOffset" value="<%= expireOffset.value %>" />
                                                 <select name="expireOffsetUnitOfTime">
                                                 <% can.each(unitsOfTime,function(data, index){ %>
                                                    <option value="<%= index %>"><%= data %></option>
                                                 <% }) %>
                                                 </select></td>
        </tr> 
        <tr>
           <td><%= expireNotify.label %></td><td>Yes<input type="radio" name="expireNotify" value="1" <% if ( expireNotify.value == 1 ){ %>checked<% } %>>
                                                No<input type="radio" name="expireNotify" value="0" <% if ( expireNotify.value == 0 ){ %>checked<% } %>></td>
        </tr>    
        <tr>
           <td><%= expireNotifyOffset.label %></td><td><input type="text" name="expireNotifyOffset" value="<%= expireNotifyOffset.value %>" /></td>
        </tr>
        <tr>
           <td><%= expireNotifyMessage.label %></td><td><textarea name="expireNotifyMessage"><%= expireNotifyMessage.value %></textarea></td>
        </tr> 
        <tr>
           <td><%= deleteOffset.label %></td><td><input type="text" name="deleteOffset" value="<%= deleteOffset.value %>" /></td>
        </tr>   
        <tr>
           <td><%= ipFilter.label %></td><td><textarea name="ipFilter"><%= ipFilter.value %></textarea></td>
        </tr> 
        <tr>
           <td><%= scratchFilter.label %></td><td><textarea name="scratchFilter"><%= scratchFilter.value %></textarea></td>
        </tr>    
        <tr>
           <td><%= autoAdd.label %></td><td>Yes<input type="radio" name="autoAdd" value="1" <% if ( autoAdd.value == 1 ){ %>checked<% } %>>
                                                No<input type="radio" name="autoAdd" value="0" <% if ( autoAdd.value == 0 ){ %>checked<% } %>></td>
        </tr>
        <tr>
           <td><%= autoDelete.label %></td><td>Yes<input type="radio" name="autoDelete" value="1" <% if ( autoDelete.value == 1 ){ %>checked<% } %>>
                                                No<input type="radio" name="autoDelete" value="0" <% if ( autoDelete.value == 0 ){ %>checked<% } %>></td>
        </tr>
        <tr>
           <td><%= databaseLink.label %></td><td><select name="databaseLink">
                                                    <option <%= databaseLink.value %>>Fill these out</option>
                                                 </select><button>manage</button></td>
        </tr>
        <tr>
           <td><%= dbQuery.label %></td><td><textarea name="dbQuery"><%= dbQuery.value %></textarea></td>
        </tr>
        <tr>
           <td><%= ldapLinkId.label %></td><td>
                <select name="">
                <% can.each(ldapLinkId.options,function(data, index){ %>
                   <option value="<%= index %>"><%= data %></option>
                <% }) %>
                </select>
           </td>
        </tr>
        <tr>
           <td><%= ldapGroup.label %></td><td><input type="text" name="ldapGroup" value="<%= ldapGroup.value %>" /></td>
        </tr>   
        <tr>
           <td><%= ldapGroupProperty.label %></td><td><input type="text" name="ldapGroupProperty" value="<%= ldapGroupProperty.value %>" /></td>
        </tr>      
        <tr>
           <td><%= ldapRecursiveProperty.label %></td><td><input type="text" name="ldapRecursiveProperty" value="<%= ldapRecursiveProperty.value %>" /></td>
        </tr>   
        <tr>
           <td><%= ldapRecursiveFilter.label %></td><td><textarea name="ldapRecursiveFilter"><%= ldapRecursiveFilter.value %></textarea></td>
        </tr>
        <tr>
           <td><%= groupCacheTimeout.label %></td><td><input type="text" name="groupCacheTimeout" value="<%= groupCacheTimeout.value %>" />
                                                 <select name="groupCacheTimeoutInterval">
                                                 <% can.each(unitsOfTime,function(data, index){ %>
                                                    <option value="<%= index %>"><%= data %></option>
                                                 <% }) %>
                                                 </select>
           </td>
        </tr>   
   </table>
</form>
