<img id="<%= this.name %>_preview" src="<%= this.value.thumbnail %>" />
<input type="hidden" id="<%= this.name %>" name="<%= this.name %>" value="<%= this.value.storageid %>" />
<button id="<%= this.name %>_upload">Upload</button>